development:
  database: elections
  username:
  password:
  host: localhost

staging:
  database: elections
  username:
  password:
  host:

production:
  database: elections
  username:
  password:
  host:
