development:
  adapter: mysql2
  database: elections
  pool: 5
  timeout: 5000
  username:
  password:
  host:

staging:
  adapter: mysql2
  database: elections
  pool: 5
  timeout: 5000
  username:
  password:
  host:

production:
  adapter: mysql2
  database: elections
  pool: 5
  timeout: 5000
  username:
  password:
  host:
